logs/inchannel1_20260303_r6-15/stats.pth
logs/
results/
weights/
.vscode/
_pycache__/
.idea/
__pycache__/model.cpython-36.pyc
__pycache__/model.cpython-310.pyc
__pycache__/data_utils.cpython-310.pyc
__pycache__/data_utils.cpython-36.pyc
